.advantages {
  padding-top: 70px;
  padding-bottom: 69px;

  color: #383A4C;

  text-align: center;
}

.advantages__title {
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.advantages__subtitle {
  margin-bottom: 35px;

  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

.advantages__subtitle:before {
  content: '';
  display: inline-block;
  position: relative;
  right: 23px;
  vertical-align: middle;

  width: 43px;
  height: 2px;

  background-color: #383A4C;
}

.advantages__subtitle:after {
  content: '';
  display: inline-block;
  position: relative;
  left: 23px;
  vertical-align: middle;
  
  width: 43px;
  height: 2px;
  
  background-color: #383A4C;
}

.advantages__text {
  max-width: 724px;
  margin: 0 auto;

  font-size: 18px;
  line-height: 25px;
  margin-bottom: 59px;
}

.advantages__list {
  min-height: 196px;
  display: flex;
  justify-content: center;
  gap: 50px;

  max-width: 100%;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 196px;
  min-height: 196px;
}

.advantages__item-background {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 122px;
  height: 122px;
  margin-bottom: 14px;

  background-color: #23C7EC;
  color: #ffffff;
  border-radius: 50%;  
}

.advantages__item-background-number {
  font-weight: 500;
  font-size: 57px;
  line-height: 100%;

  transform: translateY(4px);
}

.advantages__item-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

@media (max-width: 1024px) {

  .advantages {
    padding-bottom: 57px;
  }

  .advantages__title {
    font-size: 32px;
    line-height: 38px;

    margin-bottom: 23px;
  }

  .advantages__subtitle {
    display: inline-block;
    padding-right: 2px;

    font-size: 20px;
    line-height: 23px;

    margin-bottom: 33px;
  }

  .advantages__subtitle:before {
    right: 21px;
    bottom: 1px;
  }

  .advantages__subtitle:after {
    left: 21px;
    bottom: 1px;
  }

  .advantages__text {
    max-width: 680px;

    font-size: 16px;
    line-height: 22px;
  }
  
  .advantages__item {
    width: 180px;
    height: 182px;
    min-height: 182px;
  }
  
  .advantages__item-background {
    width: 104px;
    height: 104px;
    margin-bottom: 26px;
  }
  
  .advantages__item-background-number {
    font-size: 52px;
    line-height: 73px;

    transform: translateY(0);
  }

  .advantages__item-text {
    font-size: 18px;
    line-height: 25px;
  }
}

@media (max-width: 899px) {

  .advantages__title {
    font-size: 30px;
    line-height: 34px;
  }

  .advantages__text {
    font-size: 16px;
    line-height: 22px;
  }

  .advantages__list {
    flex-wrap: wrap;
    padding: 0 100px;
  }  
}

@media (max-width: 768px) {

  .advantages__subtitle {
    font-size: 18px;
    line-height: 20px;
  }

  .advantages__text {
    padding: 0 80px;
    font-size: 16px;
    line-height: 20px;
  }

  .advantages__list {
    padding: 0 20px;
  }

  .advantages__item-text {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 600px) {

  .advantages {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .advantages__title {
    margin-bottom: 15px;
    padding: 0 20px;

    font-size: 20px;
    line-height: 23px;
  }

  .advantages__subtitle {
    margin-bottom: 26px;
    font-size: 16px;
    line-height: 19px;
  }

  .advantages__text {
    margin-bottom: 40px;
    padding: 0 50px;  
    font-size: 14px;
    line-height: 20px;
  }

  .advantages__list {
    padding: 0;
  }
}

@media (max-width: 320px) {

  .advantages {
    padding-bottom: 60px;
  }
  
  .advantages__text {
    padding: 0 20px;  
  }

  .advantages__title {
    padding: 0;
  }

  .advantages__subtitle {
    margin-bottom: 29px;
  }

  .advantages__subtitle:before {
    width: 20px;
    height: 1px;

    right: 25px;
    transform: translateY(2px);
  }

  .advantages__subtitle:after {
    width: 20px;
    height: 1px;

    left: 27px;
    transform: translateY(2px);
  }

  .advantages__text {
    padding: 0;

    font-size: 12px;
    line-height: 17px;
  }

  .advantages__list {
    gap: 40px;
  }

  .advantages__item-background {
    width: 104px;
    height: 104px;
  }

  .advantages__item-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
  }
}
