/* roboto-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2'); /* Super Modern Browsers */
  src: url('../../fonts/roboto-v30-cyrillic_latin-regular.woff') format('woff'); /* Modern Browsers */
}
/* roboto-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../../fonts/roboto-v30-cyrillic_latin-500.woff2') format('woff2'); /* Super Modern Browsers */
  src: url('../../fonts/roboto-v30-cyrillic_latin-500.woff') format('woff'); /* Modern Browsers */
}
/* roboto-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/roboto-v30-cyrillic_latin-700.woff2') format('woff2'); /* Super Modern Browsers */
  src: url('../../fonts/roboto-v30-cyrillic_latin-700.woff') format('woff'); /* Modern Browsers */
}
/* roboto-900 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../../fonts/roboto-v30-cyrillic_latin-900.woff2') format('woff2'); /* Super Modern Browsers */
  src: url('../../fonts/roboto-v30-cyrillic_latin-900.woff') format('woff'); /* Modern Browsers */
}