.header {
  padding-top: 40px;
  /* background-image: url(../../image/header/background_header.jpg); */
  /* opacity: 0.3; */
  
}

.header__top-flex {
  display: flex;
  justify-content: space-between;

  margin-bottom: 120px;
}

.header__top-tel {
  display: block;

  margin-bottom: 3px;

  font-weight: 400;
  font-size: 23.85px;
  line-height: 28px;
  text-align: center;
}

.header__top-link {
  display: block;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.header__content-flex {
  display: flex;
  justify-content: center;
  text-align: center;
}

.header__content-box {
  max-width: 990px;
}

.header__title {
  margin-bottom: 35px;

  font-weight: 900;
  font-size: 52px;
  line-height: 61px;
}

.header__text {
  margin-bottom: 90px;

  font-weight: 400;
  font-size: 22px;
  line-height: 31px;
}

.header__button {
  width: 200px;
  height: 48px;

  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;

  background-color: #15A9CB;
  box-shadow: 0px 4px 25px rgba(21, 169, 203, 0.3);
  border-radius: 50px;
}

@media (max-width: 1024px) {
  
  .header__logo {
    width: 60px;
    height: 60px;
  }

  .header__top-tel {
    margin-bottom: 4px;

    font-size: 21px;
    line-height: 25px;
  }

  .header__content-box {
    width: 780px;
    height: 302px;
  }

  .header__title {
    margin-bottom: 28px;

    font-size: 40px;
    line-height: 47px;
  }

  .header__text {
    margin-bottom: 60px;

    font-size: 18px;
    line-height: 25px;
  }
}